@keyframes darken-submission-full-view {
  from {
    filter: brightness(100%);
  }
  to {
    filter: brightness(70%) opacity(50%) invert(19%) sepia(94%) saturate(7188%)
      hue-rotate(358deg) brightness(109%) contrast(117%);
  }
}

@keyframes opacity-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#submission-full-view .slide:hover {
  animation-name: darken-submission-full-view;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

.submission-full-view-close-indicator {
  z-index: 2;
  position: absolute;
  opacity: 0;
  font-size: 8rem;
  margin: auto;
}

.submission-full-view-close-indicator:hover {
  animation-name: set-submission-full-view-close-indicator-visible;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}
