$csh-color-a: #b0197e;

$carousel-margin-top: 10px;
$carousel-background-color: lighten($csh-color-a, 20%);
$carousel-drop-shadow: drop-shadow(0px 0px 4px black);
$carousel-border: 2px solid $csh-color-a;
$carousel-border-radius: 5px;
$carousel-button-active-color: white;
$carousel-slide-border: 1px solid black;
$slick-dots-background-color: darken($carousel-background-color, 20%);
$slick-dots-border: $carousel-slide-border;
$slick-dots-border-radius: $carousel-border-radius;


.slick-slider {
  margin-top: $carousel-margin-top;
  border: $carousel-border;
  border-radius: $carousel-border-radius;
  background-color: $carousel-background-color;
  filter: $carousel-drop-shadow;
  padding: 10px;
}

.slick-dots {
  position: relative;
  padding: 12px;
  top: 0;
  left: 0;
  background-color: $slick-dots-background-color;
  border: $slick-dots-border;
  border-radius: $slick-dots-border-radius;
}

.slick-dots li button:before {
    font-size: 10px;
}

.slick-prev:before, .slick-next:before{
    color: $csh-color-a;
    font-size: 2rem;
}

.slick-prev {
    position: absolute;
    left: -37px !important;

}


.slick-active > button:before {
  color: $carousel-button-active-color !important;
  opacity: 1 !important;
}

.slide {
  position: relative;
  background-color: black;
  border: $carousel-slide-border;
  border-radius: $carousel-border-radius;
  height: 70vh;
}

.slide > img {
  display: block;
  margin: auto;
  height: 100%;
}

.doot-difference-display {
  background-color: white;
  border: 1px solid black;
  border-radius: 2px;
  position: absolute;
  font-size: 2rem;
}

.bidi-arrow {
  all: unset;
}
